button {
	background-color: red;
}
.container{
	background-color: lavender;
}
#info {
	min-height: 120px;
	background-color: #E1E1E1 ;
}
#infophoto {
}
#photo {
	background-color: #B3B3B3;
}
#section {
	min-height: 70px;
}
#date {
		min-height: 50px;
		background-color: #E1E1E1;

}
#contenu {
		min-height: 50px;
		background-color: #B3B3B3;

}
#links-row{
}
#links-col{
}
.row {
	margin: 5px;
	background-color:  #C4C4C4;
}