
.container{
	background-color: lavender;
	width: 650px;
}
h2 {
	font-size: 26px;
	color: #3388BB;
	text-transform:uppercase;
	border-bottom:3px solid #3388DD;
}
#info {
	background-color: #E1E1E1 ;
}
#infophoto {
}
#photo {
	background-color: #B3B3B3;
}
#section {
}
#date {
		background-color: #E1E1E1;

}
#contenu {
		background-color: #B3B3B3;

}
#links-row{
}
#links-col{
}
.row {
	margin: 5px;
	background-color:  #C4C4C4;
}