
.container{
	font-size: 14px;
	font-family: Apel;
	background-color: white;
}
h2 {
	font-size: 26px;
	color: #3388BB;
	text-transform:uppercase;
	border-bottom:3px solid #3388DD;
}
#info {
}
#infophoto {
	margin: 20px;
}
#photo {
}
#section {
}
#date {

}
#contenu {

}
#links-row{
}
#links-col{
}
.row {
	margin: 5px;
	background-color: white;
} 

@media 
(max-width: 750px) {
	#infophoto {
		margin: 30px;
		margin-left: 15px;
	}
}