 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class='user-details'>
    <h3>Some technologies I'm proficient with : </h3>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-end</h2>
      <!-- <i class="devicon-html5-plain-wordmark colored"></i> -->
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>

      <br>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>Bootstrap - React <br>TypeScript & JavaScript</p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <br>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>

      <p>Spring, Hibernate & JPA<br>Flask<br>SQL Server, MySQL, PostGreSQL</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i><br>
      <i class="devicon-intellij-plain-wordmark"></i>
      <i class="devicon-visualstudio-plain colored"></i>      
      <p>Git, Github for collaboration<br>IntelliJ IDEA and VS code</p>
    </div>
</div>
