 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-end</h2>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p>TypeScript & JavaScript for Angular</p>
    </div>
    <div class="tech">
      <h2>Back-end</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-flask-plain-wordmark"></i>
      <p>Spring framework, Hibernate & JPA</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-intellij-plain-wordmark"></i>

      <p>Git in Command-line interface <br>Intellij and VScode for my go-to IDE</p>
    </div>
</div>
