<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/aquarium.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Javaquarium</h3>
    <ul>
      <li>OOP in Java 8</li>
    </ul>
    <p>A drill project from my Java/Angular training.<br>Simulates the interactions of fishs (fights, eating, mating,...) in an aquarium using Object-Oriented Programming.</p>
    <a class="project-link" href="https://github.com/Max-le/Aquarium">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>More projects to come !</h3>
    <ul>
      <li>You will love it</li>
    </ul>
  </div>
</div>
