article {
  font-family: Montserrat, sans-serif;
  margin-left:50px;
  margin-right:50px;
  @media only screen and (max-width: $cut){
    margin: 5px;
  }
}
article img {
    max-width: 100%;
    height: auto;
    border-left: 10px;
    border-right: 10px;
  }